header {
    margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
footer {
	font: bold italic 110% serif;
	background-color: rgba(168, 0, 255, 0.9);
}
#background {
    background: url(y.jpg);
    background-attachment: fixed;
    background-size: 100% 100%;
}
#Description {	
	font: bold italic 110% serif;
}
#center1 {
	margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
#center2 {
	margin-top: 0;
	text-align:center;
	font: bold italic 110% serif;
}
#otziv1 {
	background-color: rgba(131, 35, 181, 0.9);
	font: bold italic 110% serif;
}
#otziv2 {
	background-color: rgba(131, 35, 181, 0.9);
	font: bold italic 110% serif;
}
#forma{	
    border: 1px solid black;
    margin: 0 auto;
	background: rgba(255, 126, 0, 0.40);
	margin-top:15px;
	margin-bottom:15px;
	padding:30px;
	padding-left: 150 pt;
}

#slides{
	margin:0.8;
	text-align:center;
	max-width:920px;
	max-height:920px;
	margin: 0 auto;
	margin-top:15px;
	padding:0px;
	word-spacing: 0px;
	background: rgba(255, 255, 255, 1);
}
img.slide{
	width: 230px;
	height: 230px;
	}
@media screen and (max-width: 980px) {
#slides{
	max-width:590px;
	max-height:590px;
}
img.slide{
	width: 147px;	
	height: 147px;
}
}
@media screen and (max-width: 650px) {
#slides{
	max-width:420px;
	max-height:420px;
}
img.slide{
	width: 105px;	
	height: 105px;
}
}
@media screen and (max-width: 480px) {
#slides{
	max-width: 260px;
	max-height:260px;
}
img.slide{
	width: 130px;	
	height: 130px;
}
.slick-dots
{
    bottom: -52px !important;
}